@model List<Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Danh sách sản phẩm";
}

<h2>Danh sách sản phẩm</h2>
<ul>
@foreach (var p in Model)
{
    @Html.Partial("_ProductItem", p)
}
</ul>

<a asp-controller="Product" asp-action="Create">Thêm sản phẩm</a>
